<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/headForPostDetail.ejs') %>
  <body>
    <%-include('./partials/header.ejs') %>
    <main>
      <div id="container">
        <div id="postContainer"></div>
        <button id="deleteButton">delete this post</button>
      </div>
    </main>
    <script src="/assets/js/communityPostDetail.js"></script>
  </body>
</html>
