<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head.ejs') %>
  <body>
    <%-include('./partials/header.ejs') %>
    <main class="w-full min-h-screen flex justify-center items-center pb-20">
      <div
        class="
          p-10
          bg-gray-200
          w-full
          mx-auto
          rounded-2xl
          shadow-inner
          text-center
        "
      >
        <h1 class="font-medium pb-10 text-2xl">테스트용 커뮤니티 게시판</h1>
        <div id="postsContainer" class="grid" style="
        grid-auto-rows:minmax(350px,450px);
        grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
        
        row-gap:2vw;
        column-gap:2vw;
        "></div>
      </div>
    </main>
    <script src="/assets/js/community.js"></script>
  </body>
</html>
