<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head.ejs') %>
  <body>
    <%-include('./partials/header.ejs') %>
    <main
      class="w-full max-w-xl min-h-screen mx-auto pb-20 border border-black"
    >
      <h1 class="text-center">Hello world</h1>
    </main>
    <script src="/assets/js/home.js"></script>
  </body>
</html>
